html {
  background: #f2f2f2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px dotted red; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.menu-bar {
  background: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 175px;
  padding: 50px;
  border-bottom: 3px solid #252525;
  display: flex;
}

.menu-bar-list {
  flex: 1;
  list-style: none;
  display: flex;
}

.menu-bar-list > li {
  flex: auto;
  display: flex;
}

.menu-link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #252525;
  margin-right: -3px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 36px;
  color: #252525;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-link-home {
  font-size: 45px;
  font-weight: 700;
}

.menu-link-selected {
  background: #B5B5B5;
}

.home-content-container {
  margin-top: 175px;
  padding: 13%;
}

.logo-card {
  display: grid;
  grid-template-columns: 28fr 41fr;
  gap: 2%;
}

.logo-card-text-container {
  display: grid;
  grid-template-columns: 100fr 27fr 27fr;
  grid-template-areas:
  "title1 title1 title1"
  "title2 title2 title2"
  "title3 title3 title3"
  "title4 title4 title4"
  "tagline button1 button2";
}

.logo-card-title {
  text-transform: uppercase;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 90px;
}

#title1 {
  grid-area: title1;
}

#title2 {
  grid-area: title2;
}

#title3 {
  grid-area: title3;
}

#title4 {
  grid-area: title4;
}