html {
  background: #f2f2f2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px dotted red; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.menu-bar {
  background: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  padding: 45px;
  border-bottom: 3px solid #252525;
  display: flex;
}

.menu-bar-list {
  flex: 1;
  list-style: none;
  display: flex;
}

.menu-bar-list > li {
  flex: auto;
  display: flex;
}

.menu-link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #252525;
  margin-right: -3px;
  font-size: 36px;
  color: #252525;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-link-home {
  font-size: 45px;
  font-weight: 700;
}

.menu-link-selected {
  background: #B5B5B5;
}

.home-content-container {
  margin-top: 160px;
  height: 770px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-card {
  display: grid;
  grid-template-columns: 504px 764px;
  gap: 81px;
}

.logo-card-text-container {
  display: grid;
  grid-template-columns: 450px 135px 135px;
  grid-template-areas:
  "title1 title1 title1"
  "title2 title2 title2"
  "title3 title3 title3"
  "title4 title4 title4"
  "tagline button1 button2";
  column-gap: 22px;
}

.logo-card-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 90px;
  letter-spacing: -0.4px;
  margin-bottom: -20px;
}

#title1 {
  grid-area: title1;
}

#title2 {
  grid-area: title2;
}

#title3 {
  grid-area: title3;
}

#title4 {
  grid-area: title4;
  margin-bottom: -20px;
}

.tagline {
  padding-top: 5px;
  grid-area: tagline;
  font-size: 27px;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #252525;
  text-decoration: none;
  border: 3px solid #252525;
  border-radius: 15px 0px;
  height: 47px;
}

.btn-link-primary {
  background-color: #67E1C6;
}

.btn-link-secondary {
  background-color: #2E97FF;
}

